.first{
  float:left;
}
.first img{
  width:600px;
  height: 600px;
  clip-path:polygon(0 0,0 100%,100% 50%);

}
.second{
  float:right;

}

.info{

  float:left;
  width: 450px;
  margin-top: 200px;
  margin-left: 20px;
}
.footer-class{
  float: right;
}
.iium_logo img{
  width:200px;
  height:80px;
  float:right;
}
#private {
  float: right;
  color:green;
  font-size:0.6rem;
  margin-top: 500px;

}

#copy {
  float:right;
  font-size: 0.6rem;
  margin-top: 500px;
}

#log{
  width: 45px;
  height: 20px;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-bottom-width: 2px;
  border-color: blue;


}
#matric{
padding: 10px;

}
#pass{
padding:10px;
 margin-top: 5px;
}

#button{
  display: block;
 width: 43%;
 border: none;
 color: white;
 padding: 14px 28px;
 font-size: 16px;
 text-align: center;

}
